@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    box-sizing: border-box;
}

body {
    background-color: #e7eaeb;
}

.container {
    display: flex;
}

.side-bar {
    width: 20%;
    height: 100vh;
    background-color: white;
}

.side-bar .logo {
    height: 7%;
    background-color: #999b84;
    box-shadow: 1px 1px 7px rgb(0, 0, 0,1);
    margin-bottom: 5%;
}

.logo {
    margin: 0;
    box-sizing: border-box;
}

.logo p {
    padding-top: 4%;
    margin-left: 27.5%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: whitesmoke;
    cursor: default;
}

.gambar-logo {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: default;
}

.gambar-logo img {
    margin-left: 84%;
    width: 60px;
    height: 43px;
}

.profile {
    height: 140px;
}

.profile .foto-profile {
    margin: 5% 36% 4% 36%;
}

.foto-profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.account-username {
    height: 34px;
    margin: 1% 38% 4% 38%;
}

.account-username a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.grey {
    height: 20px;
}

.grey p {
    font-size: 12px;
    font-weight: 200;
    color: rgb(179, 179, 179);
    margin-left: 3.9%;
    cursor: default;
}

.select-dashboard,
.select-datamurid,
.select-databuku,
.select-peminjamanbuku,
.select-pengembalianbuku,
.select-cetak {
    box-sizing: border-box;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-select i {
    margin: 1% 5% 8% 4.5%;
    position: absolute;
}

.select-dashboard a,
.select-datamurid a,
.select-databuku a,
.select-peminjamanbuku a,
.select-pengembalianbuku a,
.select-cetak a {
    padding: 0;
    text-decoration: none;
    margin-left: 13.5%;
    color: rgb(47, 47, 47);
    font-weight: 600;
}

.select-dashboard a:hover,
.select-datamurid a:hover,
.select-databuku a:hover,
.select-peminjamanbuku a:hover,
.select-pengembalianbuku a:hover,
.select-cetak a:hover {
    color: black;
}

.select-dashboard:hover,
.select-datamurid:hover,
.select-databuku:hover,
.select-peminjamanbuku:hover,
.select-pengembalianbuku:hover,
.select-cetak:hover {
    color: white;
    box-shadow: 1px 1px 7px rgb(186, 186, 186);
}

.table {
    margin: 5%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 35px;
}

.addtable-search {
    display: flex;
    margin-top: 7%;
}

.addtable  {
    margin: 1% 28% 0 16%;
}

.addtable h4 {
    width: 130px;
    background-color: #999b84;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}

h4 a{
    color: whitesmoke;
}

.search {
    width: 25%;
    height: 4%;
    background-color: rgb(203, 203, 203);
    border-radius: 18px;
    justify-content: center;
    margin-top: 2%;
    padding: 7px;
    cursor: text;
}

.search-text {
    background-color: #999b84;
    padding: 4px;

}

.table table {
    margin: 1% 10% 4% 17%;
    font-weight: 500;
    border-radius: 15px;
    border: 1px solid #999b84;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

th {
    padding: 10px;
    color: whitesmoke;
    background-color: #999b84;
    font-size: 15px;
}

th:first-child {
    background-color: #999b84;
    border-top-left-radius: 11px;

}

th:last-child {
    border-top-right-radius: 15px;
}

td {
    padding: 6px;
    font-size: 15px;
    font-weight: 600;
    background-color: #e7eaeb;
}

td:first-child {
    text-align: center;
}

td a {
    background-color: #999b84;
    border-radius: 2px;
    padding: 1px;
}

.table p {
    margin-top: 2.9%;
    font-size: 34px;
    font-weight: 700;
    color: black;
    text-align: center;
    cursor: default;
}

.table a {
    text-decoration: none;
    color: black;
}

.table h4 {
    margin: 8% 14% 1% 14%;
}

/* css tambah data */
.tambahdatamurid {
    margin: 5%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 35px;
}

.tambahdatamurid p {
    font-size: 28px;
    font-weight: 700;
    margin: 4% 0 4% 0;
    text-align: center;
}


.tambahdatamurid table {
    margin: 1% 10% 4% 22.5%;
    font-weight: 500;
}

td #button-simpan {
    background-color: #999b84;
    width: 100px;
    padding: 4px;
    border-radius: 7px;
    border: none;
    color: white;
    margin-left: 81%;
}

.input-tambahdata {
    border: none;
    width: 60vh;
    height: 30px;
    border-radius: 6px;
}

.tulisan {
    font-size: 17px;
    margin-right: 10%;
}